.app-widgets-menu-top {
	position: relative;
	height: 45px;
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
	}
	ul {
		width: 100%;
		li {
			float: right;
			position: relative;
			&.active-menu-item {
				>a, >span.ajax-get-modal {
					color: @red-font;
					&.e-cart {
						color: #fff;
					}
				}
			}
			&.active, &:hover {
				>a, >span.ajax-get-modal {
					background: #f9f9f9;
					color: @red-font;
					text-decoration: none;
					&.e-cart {
						background: #ce614f;
					}
					&.e-buy {
						background: transparent;
					}
				}
			}
			&:hover {
				>ul {
					display: block;
				}
			}
			>a, >span.ajax-get-modal {
				margin: 0;
				list-style: none;
				display: block;
				line-height: 45px;
				height: 45px;
				color: #636363;
				font-weight: bold;
				font-size: 11px;
				padding: 0 10px;
				text-transform: uppercase;
				text-decoration: none;
				&.e-profile {
					img {
						border-radius: 12px;
						margin-left: 8px;
					}
				}
				&.e-buy {
					padding: 0;
					display: none;
					button {
						width: 125px;
						height: 31px;
						line-height: 31px;
						padding-top: 0;
						padding-bottom: 0;
					}
				}
				&.e-cart {
					background: @red-font;
					padding: 0;
					width: 78px;
					text-align: center;
					color: #fff;
					.ud {
						color: #fff;
						font-size: 15px;
					}
					.cnt-primary {
						font-size: 13px;
						color: #fff;
					}
				}
				.cnt-primary {
					span.astericks {
						color: @red-font;
						font-size: 17px;
						vertical-align: bottom;
						position: relative;
						left: 1px;
						top: -1px;
						text-shadow: none;
					}
					span.badge {
						display: inline-block;
						margin-left: 2px;
						font-size: 11px;
						padding: 1.5px 5px;
						background-color: @red-font;
						border-radius: 5px !important;
						color: #fff;
						text-shadow: none;
						box-shadow: inset 0px 1px 0px 0px rgba(128, 128, 128, 0.47);
						//0px 0.5px 0px 0px rgba(255, 255, 255, 0.5)

					}
				}

			}

			.b-mt-child {
				position: absolute;
				z-index: 9999;
				top: 45px;
				&.m-right {
					right: 0;
				}
			}
		}
	}
	&.menu-outside {
		a, span.ajax-get-modal {
			color: #000;
			text-shadow: 1px 1px 0 #fff;
		}
	}

	&.control {
		ul {
			li {
				a, span.ajax-get-modal {
					color: #e3e7ed;
				}
				&.active, &:hover {
					a,span.ajax-get-modal {
						background: #366286;
					}
				}
			}
		}
	}
}