.app-site-auth {
	width: 400px;
	margin: 80px auto;

	.b-title {
		margin-bottom: 10px;
		&:after {
			.after-clearfix;
		}
		.b-col-left {
			float: left;
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
			color: @red-font;
		}
		.b-col-right {
			float: right;
			padding-top: 5px;
			font-size: 12px;
			color: #000;
		}
	}

	.form-horizontal {
		margin-top: 20px;
		.control-label {
			text-align: left;
			color:#000;
		}
		.form-group {
			line-height: 36px;
			margin-bottom: 10px;
			input {
				&.form-control {
					height: 36px;
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			.col-sm-9 {
				padding-left: 32px;
			}
		}
	}

	.e-err {
		font-size: 10px;
		color: @red-font;
		line-height: normal;
		padding: 3px 0 0 15px;
		min-height: 18px;
	}

	.e-line {
		position: relative;
		top: 1px;
		border-top: 1px solid #dadbdb;
		border-bottom: 1px solid #ffffff;
		-webkit-box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.26);
		-moz-box-shadow:    1px 1px 1px 0px rgba(255, 255, 255, 0.26);
		box-shadow:         1px 1px 1px 0px rgba(255, 255, 255, 0.26);
		height: 1px;
		width: 100%;
	}

	.b-note {
		margin-top: 20px;
		font-size: 12px;
		opacity: 0.8;
	}

	.b-btn {
		margin-top: 20px;
		text-align: center;
		.btn {
			min-width: 120px;
			padding-top: 8px;
			padding-bottom: 8px;
			font-size: 12px;
		}
		&.m-fb {
			margin-top: 40px;
			.btn {
				position: relative;
				padding-left: 50px;
				padding-top: 10px;
				padding-bottom: 9px;
				.fa-stack {
					font-size: 14px;
					position: absolute;
					left: 10px;
					bottom: 3px;
				}
			}
		}
		&.m-sign {
			.btn {
				padding-left: 50px;
				padding-right: 50px;
			}
		}
	}
}

.app-site-signup {
	.b-signup-form {
		width: 250px;
		margin: 15px auto;
		.b-finish-purc, .b-prompt {
			font-weight: bold;
			color: @red-font;
			text-align: center;
			margin: 0 0 20px 0;
		}
		.b-title {
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
			color: @red-font;
			padding: 20px 0 25px 0;
		}
		.form-group {
			line-height: 36px;
			margin-bottom: 10px;
			input {
				&.form-control {
					height: 36px;
					padding-left: 15px;
					padding-right: 15px;
					&::-webkit-input-placeholder {
						color: #cfd2d4;
						font-style: italic;
						//font-size: 16px;
					}
					&:-moz-placeholder {
						color: #cfd2d4;
						font-style: italic;
					}
					&::-moz-placeholder {
						color: #cfd2d4;
						font-style: italic;
					}
					&:-ms-input-placeholder {
						color: #cfd2d4;
						font-style: italic;
					}
				}
			}
		}
		.e-err {
			font-size: 10px;
			color: @red-font;
			line-height: normal;
			padding: 3px 0 0 15px;
			min-height: 18px;
		}

		.b-btn {
			.btn {
				border-radius: 20px;
				height: 40px;
				line-height: 40px;
				width: 100%;
				text-align: center;
				font-size: 12px;
				padding: 0;//10px;
				&.btn-facebook, &.btn-google {
					.fa-stack {
						font-size: 14px;
						margin-right: 10px;
					}
					.fa-google {
						position: relative;
						top: -1px;
					}
				}
			}
			.b-cancel {
				margin-top: 25px;
				text-align: center;
			}
		}
	}

	.b-signup-row {
		margin-bottom: 25px;
		&:after {
			.after-clearfix;
		}
		@w-left: 70px;
		.b-col-left {
			width: @w-left;
			float: left;
			img {
				max-width: 50px;
				border-radius: 25px;
			}
		}
		.b-col-right {
			margin-left: @w-left;
			line-height: 25px;
			.b-fullname {
				font-weight: bold;
			}
		}
	}

	.b-or {
		margin-top: 20px;
		text-align: center;
	}
	.b-social-buttons {
		margin: 20px auto;
		width: 250px;
		&:after {
			.after-clearfix;
		}
		.btn-facebook, .btn-google {
			background: #e9e9e9;
			border: none;
			height: 36px;
			line-height: 36px;
			border-radius: 18px;
			text-align: center;
			padding: 0;
			min-width: 110px;
			font-size: 12px;
			outline: none;
			&:hover {
				background: @hover-base;
			}
			//&:active, &:focus  {
			//	box-shadow: none;
			//	border-color: transparent;
			//}
			.fa {
				margin-right: 5px;
				font-size: 14px;
			}
			.fa-google-plus {
				color: @red-font;
			}
			.fa-facebook {
				color: @blue-font;
			}

		}
		.btn-facebook {
			float: left;
			//width: 220px;
		}
		.btn-facebook {
			float: right;
			//width: 220px;
		}
	}
}

.app-site-confirm-expired,
.app-site-restore-expired,
.app-site-control-expired {
	margin: 25px 35px;
}

.app-site-proxy {
	margin: 25px 35px;
}