.app-widgets-gtitle {
	.l-title-default, .r-title-default {
		color: @red-font;
		font-style: italic;
		font-weight: bold;
	}
	.e-line {
		position: relative;
		top: 1px;
		border-top: 1px solid #dadbdb;
		border-bottom: 1px solid #ffffff;
		-webkit-box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.26);
		-moz-box-shadow:    1px 1px 1px 0px rgba(255, 255, 255, 0.26);
		box-shadow:         1px 1px 1px 0px rgba(255, 255, 255, 0.26);
		height: 1px;
		width: 100%;
	}
	.b-tbl {
		width: 100%;
		.td-col-1 {
			width: 1%;
			padding-right: 10px;
		}
		.td-col-2 {

		}
		.td-col-3 {
			width: 1px;
			padding-left: 10px;
			span, div, a {
				white-space: nowrap;
			}
		}
	}
}