
.ud-small-calendar:before { content: '\e800'; } /* '' */
.ud-fire:before { content: '\e801'; } /* '' */
.ud-dollar:before { content: '\e802'; } /* '' */
.ud-megaphone:before { content: '\e803'; } /* '' */
.ud-sun-rising:before { content: '\e804'; } /* '' */
.ud-volume-off:before { content: '\e805'; } /* '' */
.ud-broken-glass:before { content: '\e806'; } /* '' */
.ud-shopping-cart:before { content: '\e807'; } /* '' */
.ud-dollar-no-sales:before { content: '\e808'; } /* '' */
.ud-send-button:before { content: '\e809'; } /* '' */
.ud-check-double:before { content: '\e80a'; } /* '' */
.ud-check-single:before { content: '\e80b'; } /* '' */
.ud-edit:before { content: '\e80c'; } /* '' */
.ud-remove-circle:before { content: '\e80d'; } /* '' */
.ud-minus:before { content: '\e80e'; } /* '' */
.ud-clock:before { content: '\e80f'; } /* '' */
.ud-cancel:before { content: '\e811'; } /* '' */
.ud-email:before { content: '\e812'; } /* '' */
.ud-thumbs-down:before { content: '\e813'; } /* '' */
.ud-thumbs-up:before { content: '\e814'; } /* '' */
.ud-thumbs-down-flipped:before { content: '\e816'; } /* '' */
.ud-logo:before { content: '\e81e'; } /* '' */
.ud-paper-plane:before { content: '\e820'; } /* '' */
.ud-no-mobile:before { content: '\e823'; } /* '' */
.ud-open-book:before { content: '\e84a'; } /* '' */
.ud-play-button:before { content: '\e84b'; } /* '' */
.ud-box:before { content: '\e84c'; } /* '' */
.ud-dialog:before { content: '\e84d'; } /* '' */
.ud-attach:before { content: '\e84e'; } /* '' */